.size {
	box-sizing: border-box;
	width: 375px;
	height: 456px;
	padding: 40px;
}
.colorBackGround {
	background-color: #7755ff;
	text-align: center;
	border-radius: 10px;
}
.backPuntuation {
	background-image: linear-gradient(#4c20f9, #8668fc);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.xlSize {
	font-size: 80px;
	padding: 0px;
	margin: 0px;
}
.fontColor {
	color: white;
}
